.home-page-container {
	display: flex;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	padding: 0 12rem;
	position: relative;
}

.home-page-container div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home-page-container .home-content {
	line-height: 36px;
	letter-spacing: 1.2px;
	font-size: 20px;
	font-style: normal;
	color: var(--text-color-primary-blue);
}

h1 {
	color: var(--text-color-gray);
	font-weight: 100;
}

h1 span {
	color: var(--text-color-blue);
	font-weight: 600;
}

button {
	width: fit-content;
	padding: 1rem 2rem;
	font-size: 20px;
	border-style: none;
	border-radius: 36px;
	background: var(--bg-blue-primary);
	color: var(--text-color-white);
	box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease;
	cursor: pointer;
}
button:hover {
	box-shadow: none;
	transform: translateY(1px);
}

button a {
	text-decoration: none;
	color: var(--text-color-white);
}

.home-page-container img {
	width: 60rem;
}

.home-page-container::before {
	position: absolute;
	content: "";
	bottom: -30rem;
	right: -15rem;
	width: 60rem;
	height: 60rem;
	border-radius: 50%;
	background-color: var(--bg-blue-secondary);
	z-index: -1;
}

.featured_book {
	position: absolute;
	bottom: 4rem;
	right: 2rem;
	width: 40rem;
	text-align: right;
}

.featured_book h2 {
	font-size: 24px;
	font-weight: 600;
	color: var(--bg-blue-primary);
}

.featured_book p {
	color: var(--text-color-primary-blue);
}
.featured_book p span {
	opacity: 0.5;
}
